*.py[cod]
*.sqlite3
app.db
*.codekit
bin/*
include/*
lib/*
pip-selfcheck.json
.Python
.DS_Store
.env/*
venv/*

.idea/*
.idea/.*
.idea/workspace.xml
config.codekit
**/.sass-cache/*

media/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

Scripts/*
Lib/*
tcl/*
.vscode/*

.venv
*.bak