<h1>{{ top.titel }}</h1>

<em>{{ top.eingereicht_von }} // {{ top.eingereicht_am.strftime('%d.%m.%Y, %H:%M') }} Uhr</em><br>

{% if top.frist %}<strong>Frist:</strong> {{ top.frist.strftime('%d.%m.%Y') }}{% else %}Es gibt keine Frist.{% endif %}<br>

{% if top.beschreibung %}<strong>Beschreibung:</strong><br>
{{ top.beschreibung }}{% else %}Es wurde keine Beschreibung eingereicht.{% endif %}<br>

{% if top.abstimmungsfragen %}<strong>Abstimmungsfragen:</strong><br>
{{ top.abstimmungsfragen }}{% else %}Es wurden keine Abstimmungsfragen eingereicht.{% endif %}