<div class="container" style="margin-bottom: 1.2em;">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        {{ top.titel }}
                    </p>
                    <p class="subtitle is-6">{{ top.eingereicht_von }} //
                        <time datetime="{{ top.eingereicht_am.strftime('%Y-%m-%d') }}">{{ top.eingereicht_am.strftime('%d.%m.%Y, %H:%M') }}</time>
                        Uhr
                    </p>
                </div>
            </div>
            <div class="content">

                {% if top.frist %}
                    <p><strong>Frist:</strong>
                        <time datetime="{{ top.frist.strftime('%Y-%m-%d') }}">{{ top.frist.strftime('%d.%m.%Y') }}</time>
                    </p>
                {% else %}
                    <p>Es gibt keine Frist.</p>
                {% endif %}
                {% if top.beschreibung %}
                    <p class="preserves-whitespace">Beschreibung: {{ top.beschreibung }}</p>
                {% else %}
                    <p>Es wurde keine Beschreibung eingereicht.</p>
                {% endif %}
                {% if top.abstimmungsfragen %}
                    <p class="preserves-whitespace">Abstimmungsfragen: <br>{{ top.abstimmungsfragen }}</p>
                {% else %}
                    <p>Es wurden keine Abstimmunsfragen eingereicht.</p>
                {% endif %}
            </div>
        </div>
        <footer class="card-footer">

            <a href="{{ url_for('tops_archivieren', id=top.id) }}" class="card-footer-item">
                {% if request.path == url_for('tops_list') %}
                    Archivieren{% elif request.path == url_for('tops_archiv') %}In die TOPs verschieben{% endif %}</a>
        </footer>
    </div>
</div>