<!doctype html>
<html>
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
        {% endblock %}
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
        <title>{% block title %}{% endblock %} : tops</title>
    {% endblock %}
</head>
<body>
{% include "navbar.html" %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <section class="section">
            <div class="container">
                {% for message in messages %}
                    <div class="notification is-success">
                        {{ message }}
                    </div>
                    </section>
                {% endfor %}
    {% endif %}
{% endwith %}


</div>
{% block content %}{% endblock %}
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>