<nav class="navbar is-light is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-hidden-desktop" href="/">
            TOPs
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">
                Home
            </a>

            <a class="navbar-item" href="{{ url_for('tops_create') }}">
                TOP einreichen
            </a>

            <a class="navbar-item" href="{{ url_for('tops_list') }}">
                Aktuelle TOPs
            </a>

            <a class="navbar-item" href="{{ url_for('tops_table') }}">
                Aktuelle TOPs als Tabelle
            </a>

            <a class="navbar-item" href="{{ url_for('tops_list_markdown') }}">
                Aktuelle TOPs als Markdown
            </a>

            <a class="navbar-item" href="{{ url_for('tops_archiv') }}">
                Archiv
            </a>
        </div>
</nav>